@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F8F9FA;
}

::-webkit-scrollbar-thumb {
  background: #C09A53;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a57f3f;
}

/* Focus Styles */
*:focus {
  outline: none;
}

/* Smooth Transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
